
*{
    font-family: 'calibri';
    text-align: center;	
  
  }
  .number {
      background-color: rgba(255,255,255,0.7);
  }
  body {
  background-color: rgba(255,255,255,0.7);
  color: black;
  }